html{
    background-color: bisque;
    font-size: 32px;
}
body{
    background-color: brown;
    width: 50%;
    font-size: 1em;

}
.pai{
    background-color: blue;
    width:50%;
    font-size: 1.5em;
}
.filha{
    background-color: green;
    width: 50%;
    font-size: 0.5em ;
}