
 p { 
    margin: 20px 30px;
    padding: 30px;
    background-color: red;
    border-style: solid 10px;
    border-width: 20px;
    border: 30px solid green
}
h1 {
    border-style: double;
    border-width: 20px;
    border-color: red yellow green blue
}
